*{
    margin: 0;
    padding: 0;
}

.cursiva {
  font-family: "Pinyon Script", cursive;
  font-size:150px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 20px;
}


footer{
    background-color: #0b1a40 !important;
}

.img-detail{
    border-radius: 5%;
    width: 100%;
    height: 50%;
}

.titulo{
    font-size: 100px;
}