*{
    margin: 0;
    padding: 0;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-style: normal;
  font-size:150px;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 30px;
}




footer{
    background-color: #370617 !important;
}