*{
    margin: 0;
    padding:0;
}



.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: normal;
  font-style: 150px;
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
  margin-bottom: 30px;
  color: red;
}






footer {
    background-color: #1a5f3b;
}

